{% extends 'base.html.twig' %}

{% block title %}EBTB - {{ genre.type }}{% endblock %}

{% block genres %}navbar-active{% endblock %}

{% block body %}
    <div class="content">
        <h3><span>GENRE #{{ genre.id }} - {{ genre.type|upper }}</span></h3>

        <div class="genre-crud">
            <a href="{{ path('genre_index') }}" class="btn-right"><<< Back to list</a>

            <table class="table table-hover table-bordered">
                <tbody>
                    <tr>
                        <th>#</th>
                        <td>{{ genre.id }}</td>
                    </tr>
                    <tr>
                        <th>Type</th>
                        <td>{{ genre.type }}</td>
                    </tr>
                    <tr>
                        <th>Featured Books</th>
                        <td>
                            <center>
                                {% for book in genre.books %}
                                    <a href="{{ path('book_show', {'id': book.id}) }}"><img src="/images/{{ book.image }}" class="book-img img-fluid" alt="{{ book.title }}"></a>
                                {% else %}
                                    <p class="text-center">No records found</p>
                                {% endfor %}
                            </center>
                            <!--all books-->
                        </td>
                    </tr>
                    <tr>
                        <th>Action</th>
                        <td><a href="{{ path('genre_edit', {'id': genre.id}) }}">Edit / Delete</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <!--genre crud-->
    </div>
    <!--genre content-->
{% endblock %}
