{% extends 'base.html.twig' %}

{% block title %}EBTB - Edit {{ book.title }}{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="/css/content.css">
{% endblock %}

{% block body %}
    <div class="content">
        <h3><span>EDIT BOOK #{{ book.id }} - {{ book.title|upper }}</span></h3>

        <div class="book-crud">
            <a href="{{ path('book_show', {'id': book.id}) }}" class="btn-right"><<< Discard changes</a>

            <div class="partial-template">
                {{ include('book/_form.html.twig', {'button_label': 'Update'}) }}
                {{ include('book/_delete_form.html.twig') }}
            </div>
            <!--partial template-->
        </div>
        <!--genre crud-->
    </div>
    <!--genre content-->
{% endblock %}
