{% extends 'base.html.twig' %}

{% block title %}EBTB - Books{% endblock %}

{% block books %}navbar-active{% endblock %}

{% block body %}
    <div class="header">
        <a href="{{ path('book_index') }}"><img src="/images/banner_book.png" class="banner-img img-fluid" alt="book page"></a>
    </div>
    <!--header-->

    <div class="content">
        <h3><span>ALL BOOKS</span></h3>
        <center>
            {% for book in books %}
                <a href="{{ path('book_show', {'id': book.id}) }}"><img src="/images/{{ book.image }}" class="book-img img-fluid" alt="{{ book.title }}"></a>
            {% else %}
               <p class="text-center">No records found</p>
            {% endfor %}
        </center>
        <!--all books-->

        {% if is_granted('ROLE_SELLER') %}
            <h3><span>SELLER'S SECTION</span></h3>
            <div class="book-crud">
                <a href="{{ path('book_new') }}" class="btn-right">Create new book >>></a>

                <table class="table table-hover table-bordered">
                    <thead class="thead-dark">
                        <tr>
                            <th>#</th>
                            <th>Title</th>
                            <th>Seller</th>
                            <th>Genre</th>
                            <th>Starting Price</th>
                            <th>Status</th>
                            <th>Actions</th>
                        </tr>
                    </thead>

                    <tbody>
                        {% for book in books %}
                            {% if 'ROLE_SELLER' in book.seller.roles ? book.seller.roles|json_encode : '' %}
                                {% if book.seller.username == currentUsername %}
                                    <tr>
                                        <td>{{ book.id }}</td>
                                        <td>{{ book.title }}</td>
                                        <td>{{ book.seller }}</td>
                                        <td>{{ book.genre }}</td>
                                        <td>&#8364;{{ book.startingPrice|number_format(2, '.', ',') }}</td>
                                        <td>{{ book.status }}</td>
                                        <td>
                                            <a href="{{ path('book_show', {'id': book.id}) }}" class="book-action btn btn-lg px-3 btn-primary btn-outline-dark btn-sm" role="button">View</a>
                                            <a href="{{ path('book_edit', {'id': book.id}) }}" class="book-action btn btn-lg px-3 btn-primary btn-outline-dark btn-sm" role="button">Edit / Delete</a>
                                        </td>
                                    </tr>
                                {% endif %}
                            {% endif %}
                            <!--only display records for current logged in seller-->
                        {% else %}
                            <tr>
                                <td colspan="7">No records found</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <!--book crud-->
        {% endif %}
    </div>
    <!--content-->
{% endblock %}
