{% extends 'base.html.twig' %}

{% block title %}EBTB - My Auctions{% endblock %}

{% block auction %}disabled{% endblock %}

{% block body %}
    <div class="content">
        <h3><span>ALL CURRENT AUCTIONS</span></h3>
        <div class="auction-crud">
            {% set offers = app.session.get('offers') %}

            {% if offers is not null %}
                {% for offer in offers %}
                    <br>
                    <div class="flash-success alert alert-success alert-dismissible fade show" role="alert">
                         "{{ offer }}" has been offered to user @{{ offer.highestBidder }} - view it in past auctions section
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>

                        </button>
                    </div>
                {% endfor %}
            {% endif %}

            <a href="{{ path('auction_success') }}" class="btn-left"><<< View Past Auctions</a>
            <p id="space"></p>

            {% for book in books if book.status == "active" %}
                {% if book.seller.username == currentUsername %}
                    <div class="auction-container">
                        <div class="row">
                            <div class="col">
                                <a href="{{ path('book_show', {'id': book.id}) }}"><img src="/images/{{ book.image }}" class="img-fluid" alt="{{ book.title }}"></a>
                                <div class="auction-action">
                                    <a href="{{ path('book_show', {'id': book.id}) }}" class="book-action btn btn-lg px-3 btn-primary btn-outline-dark btn-sm" role="button">View</a>
                                    <a href="{{ path('book_edit', {'id': book.id}) }}" class="book-action btn btn-lg px-3 btn-primary btn-outline-dark btn-sm" role="button">Edit / Delete</a>
                                </div>
                            </div>
                            <!--left col-->

                            <div class="col-8">
                                <table class="table table-hover table-bordered">
                                    <thead class="thead-dark">
                                        <tr>
                                            <th>Amount</th>
                                            <th>Bidder</th>
                                            <th>Timestamp</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for bid in book.bids|sortbyfield('timestamp', 'desc') %}
                                                <tr>
                                                    <td>&#8364;{{ bid.amount }}</td>
                                                    <td>{{ bid.buyer.username}}</td>
                                                    <td>{{ bid.timestamp ? bid.timestamp|date('d/m/Y') : '' }} at {{ bid.timestamp ? bid.timestamp|date('H:i:s') : '' }}</td>
                                                </tr>
                                        {% else %}
                                            <tr>
                                                <td colspan="7">No bids yet</td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                            <!--right col-->
                        </div>
                        <!--row-->
                    </div>
                    <!--auction container-->
                {% endif %}
            {% else %}
                <p class="text-center">You haven't received any bids</p>
            {% endfor %}
            <!--only display auction records for current logged in seller-->
        </div>
        <!--auction crud-->
    </div>
    <!--content-->
{% endblock %}




