{% extends 'base.html.twig' %}

{% block title %}EBTB - My AUCTIONS{% endblock %}

{% block cart %}disabled{% endblock %}

{% block body %}
    <div class="content">
        <h3><span>ALL PAST AUCTIONS</span></h3>
        <div class="bid-crud">
            <a href="{{ path('auction_index') }}" class="btn-right">View current auctions >>></a>
            <p id="space"></p>

            {% for book in books|sortbyfield('id', 'desc') if book.status == "finished" %}
                {% if book.seller.username == currentUsername %}
                    <div class="auction-container">
                        <div class="row">
                            <div class="col">
                                <a href="{{ path('book_show', {'id': book.id}) }}"><img src="/images/{{ book.image }}" class="img-fluid" alt="{{ book.title }}"></a>
                                <div class="auction-action">
                                    <a href="{{ path('book_show', {'id': book.id}) }}" class="book-action btn btn-lg px-3 btn-primary btn-outline-dark btn-sm" role="button">View</a>
                                    <a href="{{ path('book_edit', {'id': book.id}) }}" class="book-action btn btn-lg px-3 btn-primary btn-outline-dark btn-sm" role="button">Edit / Delete</a>
                                </div>
                            </div>
                            <!--left col-->

                            <div class="col-8">
                                <table class="table table-hover table-bordered">
                                    <thead class="thead-dark">
                                        <tr>
                                            <th>Amount</th>
                                            <th>Bidder</th>
                                            <th>Timestamp</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            {% for bid in book.bids if bid.buyer.username == book.highestBidder %}
                                                <td>&#8364;{{ bid.amount }}</td>
                                                <td>{{ bid.buyer.username}}</td>
                                                <td>{{ bid.timestamp ? bid.timestamp|date('d/m/Y') : '' }} at {{ bid.timestamp ? bid.timestamp|date('H:i:s') : '' }}</td>
                                            {% endfor %}
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <!--right col-->
                        </div>
                        <!--row-->
                    </div>
                    <!--auction container-->
                {% endif %}
            {% else %}
                <p class="text-center">No offers yet</p>
            {% endfor %}
        </div>
        <!--bid crud-->
    </div>
    <!--content-->
{% endblock %}




