{% extends 'base.html.twig' %}

{% block title %}EBTB - Bid {{ bid.auctionItem.title }}{% endblock %}

{% block body %}
    <div class="content">
        <h3><span>BID ON BOOK #{{ bid.auctionItem.id }} - {{ bid.auctionItem.title|upper }}</span></h3>

        <div class="bid-crud">
            <a href="{{ path('book_show', {'id': bid.auctionItem.id}) }}" class="btn-left"><<< Discard changes</a>

            {{ include('bid/_show.html.twig') }}

            {% for flash_message in app.session.flashBag.get('error') %}
                <br>
                <div class="flash-error alert alert-danger alert-dismissible fade show" role="alert">
                    {{ flash_message }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            {% endfor %}

            <div class="partial-template">
                {{ include('bid/_form.html.twig') }}
            </div>
            <!--partial template-->
        </div>
        <!--bid crud-->
    </div>
    <!--bid content-->
{% endblock %}

