{% extends 'base.html.twig' %}

{% block title %}EBTB - My Offers{% endblock %}

{% block cart %}disabled{% endblock %}

{% block body %}
    <div class="content">
        <h3><span>ALL OFFERS</span></h3>
        <div class="bid-crud">
            <a href="{{ path('bid_index') }}" class="btn-right">View active bids >>></a>
            <p id="space"></p>

            {% for flash_message in app.session.flashBag.get('success') %}
                <br>
                <div class="flash-success" style="background-color: #32CD32; color: #FFFFFF; margin: 5px; padding: 18px; text-align: center;">
                    {{ flash_message }}
                </div>
            {% endfor %}

            {% for bid in bids|sortbyfield('timestamp', 'desc') if bid.buyer.username == currentUsername %}
                {% if bid.auctionItem.status == "finished" %}
                    <div class="bids-container">
                        <div class="row">
                            <div class="col">
                                <a href="{{ path('book_show', {'id': bid.auctionItem.id}) }}"><img src="/images/{{ bid.auctionItem.image }}" class="img-fluid" alt="{{ bid.auctionItem.title }}"></a>
                            </div>
                            <!--left col-->

                            <div class="col-8">
                                <table class="table table-hover table-bordered">
                                    <tbody>
                                        <tr>
                                            <th>#</th>
                                            <td>{{ loop.index }}</a></td>
                                        </tr>
                                        <tr>
                                            <th>Auction Item</th>
                                            <td><a href="{{ path('book_show', {'id': bid.auctionItem.id}) }}">{{ bid.auctionItem }}</a></td>
                                        </tr>
                                        <tr>
                                            <th>Amount</th>
                                            <td>&#8364;{{ bid.amount }}</td>
                                        </tr>
                                        <tr>
                                            <th>Timestamp</th>
                                            <td>{{ bid.timestamp ? bid.timestamp|date('d/m/Y') : '' }} at {{ bid.timestamp ? bid.timestamp|date('H:i:s') : '' }}</td>
                                        </tr>
                                        <tr>
                                            <th>Actions</th>
                                            <td>
                                                <a href="{{ path('book_show', {'id': bid.auctionItem.id}) }}" class="book-action btn btn-lg px-3 btn-primary btn-outline-dark btn-sm" role="button">View</a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <!--right col-->
                        </div>
                        <!--row-->
                    </div>
                    <!--bids container-->
                {% endif %}
            {% else %}
                <p class="text-center">No offers yet</p>
            {% endfor %}
            <!--only display bid records for current logged in buyer-->
        </div>
        <!--bid crud-->
    </div>
    <!--content-->
{% endblock %}




